<%- include('../partials/header')%>
<main>
  <h1>All Available Fights</h1>

  <table>
    <thead>
      <tr>
        <th>Airline</th>
        <th>Airport</th>
        <th>Flight #</th>
        <th>Departure</th>
      </tr>
        <tbody>
          <% flights.forEach(function(f){ 
             if (f.departs.valueOf() < Date.now()){ %>
              <tr style="color:red">
            <% }else{
              console.log('No')%>
              
              %> <tr><%}%>          
            <td><%= f.airline %></td>
            <td><%= f.airport %></td>
            <td><%= f.flightNo %></td>
            <td><%= f.departs.toLocaleDateString() %> <br/> <%= f.departs.toLocaleTimeString() %></td>
            <td><a href="/flights/<%= f._id %>">DETAILS</a></td>
          </tr>
          <% }); %>          
        </tbody>
    </thead>
  </table>


</main>
<%- include('../partials/footer') %>
