<%- include('../partials/header')%>
<main>
  <h1>Flight <%= flight.flightNo %> Details</h1>
  <div class="form-container">
    <h2>Airline: <%= flight.airline %></h2>
    <h2>
      Departs: <%= flight.airport%> on <%= flight.departs.toLocaleDateString()
      %> - <%= flight.departs.toLocaleTimeString() %>
    </h2>
    <div class="row">
      <div class="group">
        <h2>Destinations:</h2>
        <% if (flight.destinations.length > 0){%>
        <table>
          <thead>
            <tr>
              <th>Airport</th>
              <th>Estimated Arrival</th>
            </tr>
          </thead>
          <tbody>
            <% flight.destinations
            .sort((a,b) => (a.arrival.valueOf() - b.arrival.valueOf()))
            .forEach(function(d){ %>
            <tr>
              <td><%= d.airport %></td>
              <td>
                <%= d.arrival.toLocaleDateString() %> - <%=
                d.arrival.toLocaleTimeString() %>
              </td>
            </tr>
            <% }); %>
          </tbody>
        </table>
        <%}else {%>
        <h2>No Destinations Posted Yet</h2>
        <%}%>
      </div>
      <div class="group">
        <h2>Tickets Sold</h2>
        <% if(tickets.length > 0){ %> 
        <table>
          <thead>
            <tr>
              <th>Seat</th>
              <th>Price</th>
            </tr>
          </thead>
          <tbody>
            <% tickets.forEach(function(t){ %>
            <tr>
              <td><%= t.seat %></td>
              <td>
                <%= t.price %>
              </td>
            </tr>
            <% }); %>
          </tbody>
        </table>
        <%}else {%>
        <h2>No Tickets Sold Yet</h2>
        <%}%>
      </div>
      </div>
    </div>
    <div class="row">
      <div class="group">
        <h3>Add a Destination</h3>
        <form
          id="add-dest"
          action="/flights/<%= flight._id %>/destinations"
          method="POST"
        >
          <div class="form-group">
            <label>Airport</label>
            <select name="airport">
              <option value="AUS">AUS</option>
              <option value="DFW">DFW</option>
              <option value="DEN" selected>DEN</option>
              <option value="LAX">LAX</option>
              <option value="SAN">SAN</option>
            </select>
          </div>
          <div class="form-group">
            <label>Arrival:</label>
            <input type="datetime-local" name="arrival" id="arrival" />
          </div>
          <input type="submit" value="Add Destination" />
        </form>
      </div>
      <div class="group">
        <a class="add-ticket" href="/flights/<%= flight._id %>/tickets/new">Add a Ticket</a>
      </div>
    </div>
  </div>
</main>
<%- include('../partials/footer') %>
